body {
    margin: 0;
    padding: 0;
}

.grid-background {
    display: grid;
    height: 100vh;
    gap: 1rem;
    background-color: #0f2a38;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    'a a a'
    'a a a'
    'a a a'
    'a a a'
    'b c c'
    'b c c'
    'b c c'

    
}

.box-top {
    grid-area: a;
    border-radius: 35px;
    padding: 25px;
    background-color: #1d3c43;

    display: grid;
    grid-template-areas:
    'd'
    'e'
    'e'
    'e' 
}

.bt-1 {
    grid-area: d;
}

.bt-2 {
    grid-area: e;
}

.box-left {
    grid-area: b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;
    padding: 25px;
    background-color: #1d3c43;
}

/*Might not need padding if I use gap in parent*/
.bl-1 {
    padding: 5px;
}

.bl-2 {
    padding: 5px;
}

.box-right {
    grid-area: c;
    gap: 1rem;
    border-radius: 35px;
    padding: 25px;
    background-color: #1d3c43;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'f'
    'g'
    'g'
    'g'
}

.br-1 {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.br-2 {
    grid-area: g;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

/* CSS */
.button-custom {
  background-image: linear-gradient(-180deg, #0f2a38 0%, #173a58 100%);
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 1.75rem; */
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  height: 50px;
  width: 150px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-custom:hover {
  background-image: linear-gradient(-180deg, #173a58  0%, #0f2a38 100%);
}

@media (min-width: 768px) {
  .button-custom {
    padding: 1rem 2rem;
  }
}


.slider {
    background: #173a58;
    border-radius: 5px;
    width: 50%;
    height: 15px;
}