.wrapper {
    outline-color: blue;
    outline-width: thin;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.top {
    outline-color: plum;

    outline-width: thin;
    grid-column: auto;
    grid-row: 2;

}

.bot-left {
    outline-color: red;
    grid-column: 1;
    grid-row: auto;
    
}

.bot-right {
    outline-color: goldenrod;
    grid-column: 2/3;
    grid-row: auto;
}