body {
    margin: 0;
    padding: 0;
}

.grid-background {
    display: grid;
    height: 100vh;
    gap: 1rem;
    background-color: #0f2a38;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
    'a a a'
    'a a a'
    'a a a'
    'a a a'
    'b c c'
    'b c c'
    'b c c'

    
}

.box-top {
    grid-area: a;
    border-radius: 35px;
    padding: 25px;
    background-color: #1d3c43;

    display: grid;
    grid-template-areas:
    'd'
    'e'
    'e'
    'e' 
}

.bt-1 {
    grid-area: d;
}

.bt-2 {
    grid-area: e;
}

.box-left {
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;
    padding: 25px;
    background-color: #1d3c43;
}

/*Might not need padding if I use gap in parent*/
.bl-1 {
    padding: 5px;
}

.bl-2 {
    padding: 5px;
}

.box-right {
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 35px;
    padding: 25px;
    background-color: #1d3c43;
}



/* CSS */
.button-custom {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-custom:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-custom {
    padding: 1rem 2rem;
  }
}